$blue_01 : #1F3F68;
$blue_02 : #316099;
$blue_03 : #356EAD;
$blue_04 : #5A98D0;
$blue_05 : #98C3E8;
$white   : #fff;

$buttonTransi : background .2s linear, color .2s linear,border .2s linear .5s;

$transpBorWh : rgba(255, 255, 255, .2);
$transpBG :rgba(31, 63, 104, .2);

$boxShadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
$boxShadow2: 5px 20px 50px rgba(16, 112, 177, 0.2);

$eeGradi : linear-gradient(183.81deg, #42A5F5 -3.62%, #1565C0 88.96%);

$introGrad : linear-gradient(0deg, #98C3E8 -45%, rgba(152, 195, 232, 0) 31.12%);

$letSpMedium: 0.04em;
$letterSpace: 0.05em;


$introFfam: 'EB Garamond';
$gilroyReg: 'Gilroy Regular', sans-serif;
$gilroySemi: 'Gilroy Semibold', sans-serif;

$inputBord: rgba(53, 110, 173, .2);