.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 50px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media (max-width: 1250px) {
        padding: 50px 30px;
    }
    @media (max-height: 470px){
        padding: 20px 30px;
    }
}

#header__logo{
    width: 48px;
    height: 48px;
}
    
#nav__burger{
    width: 24px;
    height: 16px;
    cursor: pointer;
    opacity: .8;
    transition: all .2s linear;
    &:hover{
        opacity: 1;
        transform: scale3d(1.1, 1.1, 0.2);
    }
    &:active{
        opacity: 1;
        transform: scale3d(1, 1, 0.2);
        opacity: .8;
    }   
}

